.media.item{
	height: 350px;
	overflow: hidden;
	margin-bottom: 25px;
	overflow: hidden;
	.cover{
		overflow: hidden;
	}
	&:hover{
		img{
			transform: scale(1.2);
		}
	}
	.link{
		color: @main-text-color;
	}
		img{
		.img-responsive();
		transition: transform 250ms;
	}
	.wrapper{
		margin: 0 20px 20px 20px;
	}
	.title{
		margin: 0 0 20px 0;
		font-size: 20px;
	}
	.rating{
		display: inline;
		margin-left: 20px;
	}
	.categories ul{
		.horizontal-list();
		li:after{ //al final del li
			content: ",";
		}
		li:last-child:after{
			content: "";
		}
	}
}